@import "../styles/theme";

.author-bio {
  display: flex;
  font-style: italic;
  margin-bottom: 2 * $themeRhythm;
}

.author-avatar {
  margin-right: 1rem;
  margin-bottom: 0;
  min-width: 80px;
  min-height: 80px;
  border-radius: 100%;
}
