@import "../styles/theme";

a .blog-post-excerpt {
  &,
  &:hover {
    color: var(--themeText);
  }
}

.post-block + .post-block {
  margin-top: 2.5em;
}

.read-all {
  @extend .txt-small;
  font-style: italic;
}
