@import "../styles/theme";

.header-container {
  margin-bottom: $themeRhythm * 1.5;
}

@media only screen and (min-width: 600px) {
  .blog-title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .blog-title {
    font-size: 2.1rem;
  }
}

.blog-title {
  margin-bottom: 0;
  margin-left: -2px;
}

.blog-title-small {
  font-size: 1.55rem;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.blog-description {
  font-style: italic;
}

ul.site-navigation {
  font-family: "Unica One", sans-serif;
  text-transform: uppercase;
  color: var(--themeTextMuted);
  margin: 0;
  padding: 0;
  li {
    display: inline;
    a {
      color: var(--themeTextMuted);
      &:hover {
        color: var(--themeAccentPrimary);
      }
      &.site-navigation-active-item {
        cursor: default;
        &:hover {
          color: var(--themeTextMuted);
        }
      }
    }
  }
  li + li {
    &::before {
      content: " | ";
    }
  }
}
