$themeBackground: hsl(27, 12%, 94%);
$themeBackgroundMuted: hsl(27, 12%, 90%);
$themeText: hsl(27, 16%, 16%);
$themeTextMuted: hsl(27, 20%, 50%);
$themeAccentPrimary: hsl(27, 85%, 50%);
$themeAccentSecondary: hsl(62, 82%, 30%);

$themeDarkBackground: hsl(27, 16%, 16%);
$themeDarkBackgroundMuted: hsl(27, 16%, 22%);
$themeDarkText: hsl(27, 12%, 80%);
$themeDarkTextMuted: hsl(27, 20%, 50%);
$themeDarkAccentPrimary: hsl(27, 85%, 55%);
$themeDarkAccentSecondary: hsl(62, 82%, 35%);

:root {
  --themeBackground: #{$themeBackground};
  --themeBackgroundMuted: #{$themeBackgroundMuted};
  --themeText: #{$themeText};
  --themeTextMuted: #{$themeTextMuted};
  --themeAccentPrimary: #{$themeAccentPrimary};
  --themeAccentSecondary: #{$themeAccentSecondary};
  --themeBright: #{$themeBackgroundMuted};
  --themeDark: #{$themeDarkBackgroundMuted};

  .dark-mode {
    -webkit-font-smoothing: antialiased;

    --themeBackground: #{$themeDarkBackground};
    --themeBackgroundMuted: #{$themeDarkBackgroundMuted};
    --themeText: #{$themeDarkText};
    --themeTextMuted: #{$themeDarkTextMuted};
    --themeAccentPrimary: #{$themeDarkAccentPrimary};
    --themeAccentSecondary: #{$themeDarkAccentSecondary};
  }
}

$themeRhythm: 1.55rem;

.txt-muted {
  color: var(--themeTextMuted);
}

.txt-small {
  font-size: 0.8em;
}
